.item-card{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 1rem;
    box-shadow: 0 0 2px 2px #d8d8d8;
    border-radius: 0.625rem;
}

.item-card:hover{
    box-shadow: 0 0 4px 4px #d8d8d8;
}

.item-card > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.item-card > div p{
    display: flex;
    align-items: center;
}

.delete-btn{
    padding: 0.2rem 0.4rem;
    color: #ffffff;
    background-color: #000000;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 667.5px) {
    .item-card{
        width: 80%;
    }
}

@media screen and (max-width: 425.5px) {
    .item-card{
        width: 100%;
    }
}